## Preprocessing Data_1

In [3]:
import pandas as pd
import numpy as np
import glob
import json

In [4]:
airports = ["ATL", "CLT", "DEN", "DFW", "EWR", "IAH", "JFK", "LAS", "LAX", "MCO", "MIA", "ORD", "PHX", "SEA", "SFO"]

### Filtering the required airports from Origin and Destination

In [5]:
df = pd.DataFrame()
years  = [2016, 2017]
for j in years:
    for i in range(1, 13):
        df_years = pd.read_csv(r"Data\\"+str(j)+"\On_Time_On_Time_Performance_"+str(j)+"_"+str(i)+"\On_Time_On_Time_Performance_"+str(j)+"_"+str(i)+".csv")
        filter_origin = df_years[df_years["Origin"].isin(airports)]
        filter_dest = filter_origin[filter_origin["Dest"].isin(airports)]
        if(i == 1 and j == 2016):
            temp = pd.DataFrame()
            df_flight = temp.append(filter_dest, ignore_index = True)
        else:
            df_flight = df_flight.append(filter_dest, ignore_index = True)

C:\Users\charu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\charu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\charu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\charu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (48,77,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\charu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (48,69,76,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\charu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (48,77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
Flight_columns = ['ArrDel15', 'ArrDelayMinutes', 'ArrTime', 'CRSArrTime', 'CRSDepTime', 'DayofMonth', 'DepDel15', 'DepDelayMinutes', 
        'DepTime', 'DestAirportID', 'FlightDate', 'Month', 'Origin', 'OriginAirportID', 'Quarter', 'Year']

In [7]:
df_flight = df_flight[[col for col in Flight_columns]]  # To choose only the required flight features
df_flight.dropna(inplace = True) # To drop NA values

In [8]:
df_flight.head()

,ArrDel15,ArrDelayMinutes,ArrTime,CRSArrTime,CRSDepTime,DayofMonth,DepDel15,DepDelayMinutes,DepTime,DestAirportID,FlightDate,Month,Origin,OriginAirportID,Quarter,Year
0,0.0,8.0,1610.0,1602,745,1,0.0,0.0,741.0,12478,2016-01-01,1,SEA,14747,1,2016
1,0.0,11.0,1613.0,1602,745,2,0.0,0.0,737.0,12478,2016-01-02,1,SEA,14747,1,2016
2,0.0,0.0,1547.0,1602,745,3,0.0,0.0,743.0,12478,2016-01-03,1,SEA,14747,1,2016
3,0.0,0.0,1551.0,1602,745,4,0.0,0.0,737.0,12478,2016-01-04,1,SEA,14747,1,2016
4,0.0,0.0,1524.0,1527,710,5,0.0,0.0,708.0,12478,2016-01-05,1,SEA,14747,1,2016

In [22]:
df_flight.to_csv('Data\Final_Flight_Data.csv')

In [ ]:
flight_data = pd.read_csv("Data\Final_Flight_Data.csv", index_col = 0)
flight_data.head()